.Section2{
    background-color: #000000;
    .container{
        h1{
            font-size: 41px;
            font-weight: 600;
            color: #E2F3FF;
        }
        .all-products{
            width: 202px;
            height: 45px;
            background-image: linear-gradient( #0A90FB , #6E3FCE);
            border: 0 solid #838383;
            border-radius: 0 15px;
            color: #E2F3FF;
            font-size: 14px;
            font-weight: 400;
        }
    }
}
