.wishlist{
    background-color: #000000;
    .container{
        .Backbtn{
            padding-top: 70px;
            a{
                .back{
                    i{
                        font-size: 28px;
        
                    }
                    span{
                        font-size: 14px;
                        padding-left: 10px;  
                    }
                } 
            }
        
                    h1{
                        padding-top: 28px;
                        color: #0A90FB;
                        font-size: 41px;
                        font-weight: 600;
                    }
                    p{
                        color: #E2F3FF;
                        width: 488px;
                        height: auto;
                        font-size: 14px;
                        font-weight: 400;
                        padding-bottom: 70px;
                    }
                } 
        
    }
}
.list{
    .container{
        h1{
            text-align: center;
            font-size: 41px;
            font-weight: 600;
            color: #000000;
        }
        
        .table{
            th{
                font-size: 14px;
                font-weight: 600;
                color: #48485B;
                background-color: #838383;
            }
        }
    }
}