@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
}

a {
  text-decoration: none;
  color: #E2F3FF;
}

li {
  list-style: none;
  padding-top: 10px;
}

.footer {
  height: 392px;
  padding-top: 55px;
  color: white;
  background-color: #000000;
}
.footer .container .row .col-4 {
  width: 370px;
  height: 159px;
}
.footer .container .row .col-4 .containt h3 {
  font-size: 26px;
  font-weight: 600;
}
.footer .container .row .col-4 .containt span {
  color: #1786F5;
  font-weight: bold;
}
.footer .container .row .col-4 .containt e {
  color: #5553D8;
  font-weight: bold;
}
.footer .container .row .col-4 .containt p {
  font-size: 14px;
  font-weight: 400;
}
.footer .container .row .col-3 .navigation h6 {
  margin-left: 25px;
  font-size: 15px;
  font-weight: 600;
}
.footer .container .row .col-3 .navigation ul {
  font-size: 14px;
  font-weight: 400;
}
.footer .container .row .col-2 .link h6 {
  font-size: 15px;
  font-weight: 600;
}
.footer .container .row .col-2 .link .icon .box {
  width: 25px;
  height: 25px;
  background-color: #E2F3FF;
  text-align: center;
  line-height: 25px;
}
.footer .container .row .col-2 .link .icon .box a {
  color: #000000;
}

.Card {
  border: 1px solid;
  border-color: #1786F5 #6E3FCE #6E3FCE #1786F5;
  height: 441px;
  width: 277px;
  margin: 20px;
  border-radius: 0 15px;
  background-color: #E2F3FF;
}
.Card .cbox {
  margin-top: 10px;
}
.Card .cbox .img {
  margin-top: 20px;
  height: 197px;
}
.Card .cbox .img img {
  width: 100%;
  height: 100%;
}
.Card .cbox .type {
  font-size: 14px;
  font-weight: 450;
  color: #838383;
}
.Card .cbox label {
  margin-top: 20px;
  font-size: small;
  font-weight: bold;
  padding-bottom: 5px;
}
.Card .cbox #Color {
  width: 100%;
  height: 36px;
  padding-left: 15px;
  border-radius: 0 15px;
  background: none;
  color: #838383;
}
.Card .cbox .PC {
  display: flex;
  justify-content: space-between;
  margin-top: 23px;
}
.Card .cbox .PC .price {
  width: 85px;
  height: 40px;
}
.Card .cbox .PC .price org {
  font-weight: bold;
}
.Card .cbox .PC .price mrp {
  font-size: 12px;
  color: #838383;
}
.Card .cbox .PC button {
  background-image: linear-gradient(#0A90FB, #6E3FCE);
  width: 134px;
  height: 34px;
  border: 0 solid #838383;
  border-radius: 0 15px;
  color: #E2F3FF;
  font-size: 14px;
  font-weight: 400;
}

.header {
  background-image: url(https://gaming-workdo.myshopify.com/cdn/shop/files/design-circle-1.png?v=1671440643);
  background-color: #000000;
  color: #E2F3FF;
}
.header .mainheader .nav1 {
  border-bottom: 1px solid #48485B;
}
.header .mainheader .nav1 .container .bars .bar {
  padding-left: 30px;
}
.header .mainheader .nav1 .container .cart a {
  padding-right: 30px;
  font-size: 22px;
}
.header .nav2 {
  border-bottom: 1px solid #48485B;
}
.header .nav2 .container .search {
  border: 1px solid #48485B;
  width: 351px;
  height: 44px;
  line-height: 44px;
  border-radius: 0 15px;
}
.header .nav2 .container .search i {
  padding-left: 15px;
}
.header .nav2 .container .search #scerch {
  width: 290px;
  height: 40px;
  background: none;
  outline: none;
  border: 0;
  color: #838383;
  margin-left: 15px;
}

.section1 {
  background-image: url(https://wallpaperswide.com/download/apple_macbook_pro_laptop_colorful_background-wallpaper-1920x540.jpg);
  border-bottom: 1px solid #48485B;
}
.section1 .container .box1 {
  padding-top: 82px;
  padding-bottom: 102px;
  width: 570px;
  height: auto;
}
.section1 .container .box1 h1 {
  font-size: 65px;
  font-weight: 600;
  color: #E2F3FF;
}
.section1 .container .box1 p {
  color: #838383;
}
.section1 .container .box1 .Featured {
  background-color: #12103E;
  width: 400px;
  height: 48px;
  padding-top: 10px;
  border-radius: 25px;
  color: #E2F3FF;
  font-size: 14px;
  font-weight: 400;
}
.section1 .container .box1 .Featured .label {
  background-image: linear-gradient(to left, rgba(10, 143, 251, 0.3019607843), #0A90FB);
  border-radius: 25px;
  margin-left: 10px;
  padding-left: 8px;
  width: 77px;
  line-height: 28px;
  height: 28px;
  display: inline-block;
}
.section1 .container .box1 .Featured span a {
  color: #1B69B9;
}
.section1 .container .box1 .bt1 {
  width: 202px;
  height: 45px;
  background-image: linear-gradient(#0A90FB, #6E3FCE);
  border: 0 solid #838383;
  border-radius: 0 15px;
  color: #E2F3FF;
  font-size: 14px;
  font-weight: 400;
}
.section1 .container .box1 .bt2 {
  width: 202px;
  height: 45px;
  margin-left: 12px;
  background-color: black;
  color: #838383;
  border: 1 solid #838383;
  font-size: 14px;
  font-weight: 400;
  border-radius: 0 15px;
}

.Section2 {
  background-color: #000000;
}
.Section2 .container h1 {
  font-size: 41px;
  font-weight: 600;
  color: #E2F3FF;
}
.Section2 .container .all-products {
  width: 202px;
  height: 45px;
  background-image: linear-gradient(#0A90FB, #6E3FCE);
  border: 0 solid #838383;
  border-radius: 0 15px;
  color: #E2F3FF;
  font-size: 14px;
  font-weight: 400;
}

.Section3 {
  margin: 70px 0 70px 0;
}
.Section3 .container .proD h1 {
  font-size: 41px;
  font-weight: 600;
}
.Section3 .container .proD p {
  margin-top: 25px;
  color: #838383;
}
.Section3 .container .proD .seepro {
  margin-top: 25px;
  width: 202px;
  height: 45px;
  background-image: linear-gradient(#0A90FB, #6E3FCE);
  border: 0 solid #838383;
  border-radius: 0 15px;
  color: #E2F3FF;
  font-size: 14px;
  font-weight: 400;
}

.Section4 {
  margin: 0 0 76px 0;
}
.Section4 .container h1 {
  font-size: 41px;
  font-weight: 600;
}
.Section4 .container .Rating {
  width: 585px;
  height: 175px;
  border: 1px solid #6E3FCE;
  border-radius: 0 15px;
}
.Section4 .container .Rating .img {
  margin-top: 10px;
  width: 148px;
  height: 156px;
}
.Section4 .container .Rating .img img {
  width: 100%;
  height: 100%;
}
.Section4 .container .Rating .title {
  margin-top: 15px;
}
.Section4 .container .Rating .title h1 {
  font-size: 26px;
  font-weight: 600;
}
.Section4 .container .Rating .title p {
  font-size: 14px;
  font-weight: 400;
  width: 395px;
  height: 59px;
}
.Section4 .container .Rating .title .client .img {
  width: 35px;
  height: 35px;
}
.Section4 .container .Rating .title .client .img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.Section4 .container .Rating .title .client .img .Name {
  width: 395px;
  height: 35px;
}
.Section4 .container .Rating .title .client .img .Name h2 {
  font-size: 14px;
  font-weight: 600;
  padding-left: 15px;
}
.Section4 .container .Rating .title .client .img .Name .img {
  width: 70px;
  height: 12px;
}
.Section4 .container .Rating .title .client .img .Name .img img {
  width: 100%;
  height: 100%;
}

.about {
  background-color: #000000;
}
.about .container {
  padding-top: 60px;
}
.about .container .Backbtn a .back i {
  font-size: 28px;
}
.about .container .Backbtn a .back span {
  font-size: 14px;
  padding-left: 10px;
}
.about .container .Backbtn h1 {
  padding-top: 28px;
  color: #0A90FB;
  font-size: 41px;
  font-weight: 600;
}
.about .container .Backbtn p {
  color: #E2F3FF;
  width: 585px;
  height: auto;
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 70px;
}

.descript .container h1 {
  padding-top: 70px;
  font-size: 41px;
  font-weight: 400;
}
.descript .container p {
  font-size: 14px;
  font-weight: 400;
  color: #838383;
}
.descript .container .box2 h1 {
  text-align: center;
  font-size: 41px;
  font-weight: 400;
}
.descript .container .box2 .container {
  margin-top: 25px;
}
.descript .container .box2 .container img {
  width: 570px;
  height: 457px;
}
.descript .container .box2 .container h2 {
  font-size: 26px;
  font-weight: 600;
  padding-top: 100px;
}
.descript .container .Servies h1 {
  text-align: center;
}
.descript .container .Servies .p {
  margin-left: 207px;
  width: 900px;
}
.descript .container .Servies .container .row {
  margin: 60px 0 70px 34px;
  gap: 30px;
}
.descript .container .Servies .container .row .col-3 {
  padding: 15px;
  width: 370px;
  border: 1px solid #0A90FB;
}
.descript .container .Servies .container .row .col-3 h3 {
  font-size: 26px;
  font-weight: 600;
  color: #838383;
}

.Contact {
  background-color: #000000;
}
.Contact .container .form {
  position: absolute;
  width: 670px;
  height: 549px;
  margin: -206px 158px 0 573px;
}
.Contact .container .form h1 {
  background-color: #000000;
  color: #0A90FB;
  font-size: 41px;
  font-weight: 600;
}
.Contact .container .form .row {
  border: 2px solid #7B35C8;
  width: 670px;
  height: 488px;
  padding-left: 8px;
  background-color: white;
}
.Contact .container .form .row .col label {
  margin-top: 22px;
}
.Contact .container .form .row .col input {
  margin-top: 10px;
  background: none;
  outline: none;
  padding: 12px 20px;
  border: 1px solid #48485B;
  width: 301px;
  height: 48px;
  line-height: 48px;
  border-radius: 0 25px;
}
.Contact .container .form .row .descript textarea {
  width: 623px;
  height: 162px;
  border-radius: 0 25px;
}
.Contact .container .form .row button {
  width: 202px;
  height: 45px;
  background-image: linear-gradient(#0A90FB, #6E3FCE);
  border: 0 solid #838383;
  border-radius: 0 15px;
  color: #E2F3FF;
  font-size: 14px;
  font-weight: 400;
  margin: 8px 0 16px 13px;
}
.Contact .container .Backbtn {
  padding-top: 70px;
}
.Contact .container .Backbtn a .back i {
  font-size: 28px;
}
.Contact .container .Backbtn a .back span {
  font-size: 14px;
  padding-left: 10px;
}
.Contact .container .Backbtn h1 {
  padding-top: 28px;
  color: #0A90FB;
  font-size: 41px;
  font-weight: 600;
}
.Contact .container .Backbtn p {
  color: #E2F3FF;
  width: 488px;
  height: auto;
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 70px;
}

.address .box1 {
  padding-top: 60px;
}
.address .box1 h3 {
  font-size: 14px;
  font-weight: 600;
  color: #838383;
}
.address .box1 p {
  font-size: 15px;
  font-weight: 400;
  color: #838383;
}

iframe {
  margin-top: 246px;
  width: 100%;
}/*# sourceMappingURL=main.css.map */