@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
}
a{
    text-decoration: none;
    color: #E2F3FF;
    
}
li{
    list-style: none;
    padding-top: 10px;
}
//Footer Code Start

.footer{
    height: 392px;
    padding-top: 55px;
    color: #ffff;
    background-color: #000000;
    .container{
        .row{
            
            .col-4{
                width: 370px;
                height: 159px;
                .containt{
                    h3{
                        font-size: 26px;
                        font-weight: 600;
                    }
                    span{
                        color: #1786F5;
                        font-weight: bold;
                    }
                    e{
                        color: #5553D8;
                        font-weight: bold;
                    }
                    p{
                        font-size: 14px;
                        font-weight: 400;
                    }
                }
            }
            .col-3{
                .navigation{
                    h6{
                        margin-left: 25px;
                        font-size: 15px;
                        font-weight: 600;
                    }
                    ul{
                        font-size: 14px;
                        font-weight: 400;                    }
                }
            }
            .col-2{
                .link{
                    h6{
                        font-size: 15px;
                        font-weight: 600;   
                    }
                    .icon{
                        .box{
                            width: 25px;
                            height: 25px;
                            background-color: #E2F3FF;
                            text-align: center;
                            line-height: 25px;
                            a{
                                color: #000000;
                            }
                        }
                    }
                }
            }
        }
    }
}
// Footer code end

// Card code Start

.Card{
    
    border: 1px solid ;
    border-color: #1786F5 #6E3FCE #6E3FCE #1786F5;
    height: 441px;
    width: 277px;
    margin: 20px;
    border-radius: 0 15px ;
    background-color: #E2F3FF;
    .cbox{
        margin-top: 10px;
        .img{
            margin-top: 20px;
            height: 197px;
            img{
                width: 100%;
                height: 100%;
            }
        }
        .type{
            font-size: 14px;
            font-weight: 450;
            color: #838383;
        }
        label{
            margin-top: 20px;
            font-size: small;
            font-weight: bold;
            padding-bottom: 5px;
        }
        #Color{
            width: 100%;
            height: 36px;
            padding-left: 15px;
            border-radius: 0 15px;
            background: none;
            color: #838383;
        }
        .PC{
            display: flex;
            justify-content: space-between;
            margin-top: 23px;

                .price{
                    width: 85px;
                    height: 40px;
                    org{
                        font-weight: bold;
                    }
                    mrp{
                        font-size: 12px;
                        color: #838383;
                    }
        
            }
            button{
                background-image: linear-gradient( #0A90FB , #6E3FCE);
                width: 134px;
                height: 34px;
                border: 0 solid #838383;
                border-radius: 0 15px;
                color: #E2F3FF;
                font-size: 14px;
                font-weight: 400;
            }
        }

       
    }
}



// Header Code Start
.header{
    background-image: url(https://gaming-workdo.myshopify.com/cdn/shop/files/design-circle-1.png?v=1671440643);
     background-color: #000000;
     color: #E2F3FF;
     .mainheader{
            .nav1{
                
                border-bottom: 1px solid #48485B;
                    .container{
                        .bars{
                            .bar{
                                padding-left: 30px;
                            }
                        }
                        .cart{
                        a{
                                padding-right: 30px;
                                font-size: 22px;
                        }  
                        }
                    }
            }
     }
   
   .nav2{
    border-bottom: 1px solid #48485B;
     .container{
        .search{
            border: 1px solid #48485B;
            width: 351px;
            height: 44px;
            line-height: 44px;
            border-radius:  0 15px;
            i{
                padding-left: 15px;
            }
            #scerch{
                width: 290px;
                height: 40px;
                background:none;
                outline: none;
                border: 0;
                color: #838383;
                margin-left: 15px;
            }
        }
     }
   }
  
}
 
// Header Code end
//section1
.section1{
    background-image: url(https://wallpaperswide.com/download/apple_macbook_pro_laptop_colorful_background-wallpaper-1920x540.jpg);
    border-bottom: 1px solid #48485B;
    .container{
        .box1{
            padding-top: 82px;
            padding-bottom: 102px;
            width: 570px;
            height: auto;
            h1{
                font-size: 65px;
                font-weight: 600;
                color: #E2F3FF;
            }
            p{
                color: #838383;
            }
            .Featured{
                background-color: #12103E;
                width: 400px;
                height: 48px;
                padding-top: 10px;
                border-radius: 25px;
                color: #E2F3FF;
                font-size: 14px;
                font-weight: 400;
                .label{
                    background-image: linear-gradient( to left,#0a8ffb4d, #0A90FB );                    border-radius: 25px;
                    margin-left: 10px;
                    padding-left: 8px;   
                    width: 77px;
                    line-height: 28px;
                    height: 28px;
                    display: inline-block;
                }
                span{
                    a{
                        color: #1B69B9;
                    }
                }     
            }
            .bt1{
                width: 202px;
                height: 45px;
                background-image: linear-gradient( #0A90FB , #6E3FCE);
                border: 0 solid #838383;
                border-radius: 0 15px;
                color: #E2F3FF;
                font-size: 14px;
                font-weight: 400;

            }
            .bt2{
                width: 202px;
                height: 45px;
                margin-left: 12px;
                background-color: black;
                color: #838383;
                border: 1 solid #838383;
                font-size: 14px;
                font-weight: 400;
                border-radius: 0 15px;
            }
                
            
        }
    }
}
// section2
.Section2{
    background-color: #000000;
    .container{
        h1{
            font-size: 41px;
            font-weight: 600;
            color: #E2F3FF;
        }
        .all-products{
            width: 202px;
            height: 45px;
            background-image: linear-gradient( #0A90FB , #6E3FCE);
            border: 0 solid #838383;
            border-radius: 0 15px;
            color: #E2F3FF;
            font-size: 14px;
            font-weight: 400;
        }
    }
}

// Section3
 .Section3{
       margin: 70px 0 70px 0;
    .container{
        .proD{
            h1{
                font-size: 41px;
                font-weight: 600;
            }
            p{
                margin-top: 25px;
                color: #838383;
            }
            .seepro{
                margin-top: 25px;
                width: 202px;
                height: 45px;
                background-image: linear-gradient( #0A90FB , #6E3FCE);
                border: 0 solid #838383;
                border-radius: 0 15px;
                color: #E2F3FF;
                font-size: 14px;
                font-weight: 400;
            }
        }
    }
 }
 //Section4
 .Section4{
    margin:  0 0 76px 0;
    
    .container{
        h1{
            font-size: 41px;
            font-weight: 600; 
        }
        .Rating{
            width: 585px;
            height: 175px;
            border: 1px solid #6E3FCE ;
            border-radius:  0 15px;
           .img{
               margin-top: 10px;
               width: 148px;
               height: 156px;
               img{
                  width: 100%;
                  height: 100%;
               }
           }
           .title{
               margin-top: 15px;
            h1{
                font-size: 26px;
                font-weight: 600;
            }
            p{
                font-size: 14px;
                font-weight: 400;
                width: 395px;
                height: 59px;
            }
            .client{
                .img{
                    width: 35px;
                    height: 35px;
                    img{
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                    }
                    .Name{
                        width: 395px;
                        height: 35px;
                        h2{
                            font-size: 14px;
                            font-weight: 600;
                            padding-left: 15px;
                        }
                        .img{
                            width: 70px;
                            height: 12px;
                            img{
                                width: 100%;
                                height: 100%; 
                            }
                        }
                    }
                }
                
            }
           }
        }
    }
 }

//  About 
.about{
    background-color: #000000;
    .container{
        padding-top: 60px;
        .Backbtn{
            a{
                .back{
                    i{
                        font-size: 28px;

                    }
                    span{
                        font-size: 14px;
                        padding-left: 10px;

                        
                    }
                }
                
                
            }
            h1{
                padding-top: 28px;
                color: #0A90FB;
                font-size: 41px;
                font-weight: 600;
            }
            p{
                color: #E2F3FF;
                width: 585px;
                height: auto;
                font-size: 14px;
                font-weight: 400;
                padding-bottom: 70px;
            }
            
        }
       
    }
}
.descript{
    .container{
        h1{
            padding-top: 70px;
            font-size: 41px;
            font-weight: 400;
        }
        p{
            font-size: 14px;
            font-weight: 400;
            color: #838383;
        }
        .box2{
            h1{
                text-align: center;
                font-size: 41px;
                font-weight: 400;
            }
           .container{
                margin-top: 25px;
            img{
                width: 570px;
                height: 457px;
            }
            
            h2{
                font-size: 26px;
                font-weight: 600;
                padding-top: 100px;
            }
           }
        }
        .Servies{
            h1{
                text-align: center;
            }
            .p{
                margin-left: 207px;
                width: 900px;
                
            }
            .container{
                .row{
                    margin: 60px 0 70px 34px;
                    gap: 30px;
                    .col-3{
                        padding: 15px;
                        h3{
                            font-size: 26px;
                            font-weight: 600;
                            color: #838383;
                        }
                        width: 370px;
                        border: 1px solid #0A90FB;
                    }     
                }
            }
        }
    }
}
// Contact
.Contact{
    background-color: #000000;
    .container{
        .form{
            position: absolute;
            width: 670px;
            height: 549px;
            margin: -206px 158px 0 573px;
            h1{
                background-color: #000000;
                color: #0A90FB;
                font-size: 41px;
                font-weight: 600;  
                
            }
            .row{
                border: 2px solid #7B35C8;
                width: 670px;
                height: 488px;
                padding-left: 8px;
                background-color: white;
                .col{  
                        label{
                            margin-top: 22px;
                        }
                        input{
                            margin-top: 10px;
                            background: none;
                            outline: none;
                            padding: 12px 20px;
                            border: 1px solid #48485B;
                            width: 301px;
                            height: 48px;
                            line-height: 48px;
                            border-radius: 0 25px;
                        }
                }
                .descript{
                    textarea{
                        width: 623px;
                        height: 162px;
                        border-radius: 0 25px;
                    }
                    
                }
                button{
                    width: 202px;
                    height: 45px;
                    background-image: linear-gradient( #0A90FB , #6E3FCE);
                    border: 0 solid #838383;
                    border-radius: 0 15px;
                    color: #E2F3FF;
                    font-size: 14px;
                    font-weight: 400;
                    margin: 8px 0 16px 13px;
                }
            }

        }
        .Backbtn{
            padding-top: 70px;
            a{
                .back{
                    i{
                        font-size: 28px;

                    }
                    span{
                        font-size: 14px;
                        padding-left: 10px;  
                    }
                } 
            }

                    h1{
                        padding-top: 28px;
                        color: #0A90FB;
                        font-size: 41px;
                        font-weight: 600;
                    }
                    p{
                        color: #E2F3FF;
                        width: 488px;
                        height: auto;
                        font-size: 14px;
                        font-weight: 400;
                        padding-bottom: 70px;
                    }
               
        }
    }
    
}
.address{
    .box1{
        padding-top: 60px;
        h3{
            font-size: 14px;
            font-weight: 600;
            color: #838383;
        }
        p{
            font-size: 15px;
            font-weight: 400;
            color: #838383;
        }
    }
}
iframe{
    margin-top: 246px;
    width: 100%;
}

//Privacy
.pravacy{
    background-color: #000000;
    .container{
        .Backbtn{
            padding-top: 70px;
            a{
                .back{
                    i{
                        font-size: 28px;
        
                    }
                    span{
                        font-size: 14px;
                        padding-left: 10px;  
                    }
                } 
            }
        
                    h1{
                        padding-top: 28px;
                        color: #0A90FB;
                        font-size: 41px;
                        font-weight: 600;
                    }
                    p{
                        color: #E2F3FF;
                        width: 488px;
                        height: auto;
                        font-size: 14px;
                        font-weight: 400;
                        padding-bottom: 70px;
                    }
                } 
        
    }
}
.Policy{
    .container{
        padding: 54px 0 54px 0;
        h1{
            font-size: 41px;
            font-weight: 600;
        }
        h3{
            font-size: 26px;
            font-weight: 600;
            color: #838383;
        }
        p1{
            font-size: 14px;
            font-weight: bolder;
            color: #48485B;
        }
        p{
            font-size: 14px;
            font-weight: 400;
            color: #838383;
            padding-top: 25px;
        }
        ul{
            li{
                list-style: disc;
                font-size: 14px;
                font-weight: 400;
                color: #838383;
            }
        }
    }
}
//Shipping
.shipping{
    background-color: #000000;
    .container{
        .Backbtn{
            padding-top: 70px;
            a{
                .back{
                    i{
                        font-size: 28px;
        
                    }
                    span{
                        font-size: 14px;
                        padding-left: 10px;  
                    }
                } 
            }
        
                    h1{
                        padding-top: 28px;
                        color: #0A90FB;
                        font-size: 41px;
                        font-weight: 600;
                    }
                    p{
                        color: #E2F3FF;
                        width: 488px;
                        height: auto;
                        font-size: 14px;
                        font-weight: 400;
                        padding-bottom: 70px;
                    }
                } 
        
    }
}

.Delivery{
    .container{
        padding: 54px 0 54px 0;
        p{
            font-size: 14px;
            font-weight: 400;
            color: #838383;
        }
        h4{
            font-size: 22px;
            font-weight: 600;
        }
        .spd{
            h2{
                font-size: 41px;
                font-weight: 600;
            }  
        }
    }
}

//Terms & Codition

.terms{
    background-color: #000000;
    .container{
        .Backbtn{
            padding-top: 70px;
            a{
                .back{
                    i{
                        font-size: 28px;
        
                    }
                    span{
                        font-size: 14px;
                        padding-left: 10px;  
                    }
                } 
            }
        
                    h1{
                        padding-top: 28px;
                        color: #0A90FB;
                        font-size: 41px;
                        font-weight: 600;
                    }
                    p{
                        color: #E2F3FF;
                        width: 488px;
                        height: auto;
                        font-size: 14px;
                        font-weight: 400;
                        padding-bottom: 70px;
                    }
                } 
        
    }
}
.conditions{
   .container{
        padding: 54px 0 54px 0;
        p{
            font-size: 14px;
            font-weight: 400;
            color: #838383;
        }
        h4{
            font-size: 22px;
            font-weight: 600;
            padding: 10px 0 10px 0;
        }
    .tnc{
        h2{
            font-size: 41px;
            font-weight: 600;
        }
    }

   }
}
//All Collections
.Collect{
    .container{
        padding: 54px 0 54px 0;
        h2{
            font-size: 41px;
            font-weight: 600;
            text-align: center;
            margin-bottom: 22px;
        }
        .row{
            .col-4{
                .img{
                    margin-left: 27px;
                    width: 370px;
                    height: 180px;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
        .items{
             text-align: center;
            button{
                    width: 143px;
                    height: 40px;
                    background-image: linear-gradient( #0A90FB , #6E3FCE);
                    border: 0 solid #838383;
                    border-radius: 0 15px;
                    color: #E2F3FF;
                    font-size: 14px;
                    font-weight: 600;
                    margin-bottom: 30px;
            }
            h4{
                padding-top: 14px;
                font-size: 18px;
                font-weight: 600;
                color: #838383;
            }
        }  
    }
}

// Cardview

.cardview{
    .container{
        padding: 54px 0 54px 0;
        a{
            .shoping{
                color: #000000;
                i{
                    font-size: 28px;
    
                }
                span{
                    font-size: 14px;
                    padding-left: 10px;  
                }
            }
        }
        h1{
            padding-top: 12px;
            font-size: 41px;
            font-weight: 600;
            color: #000000;
        }
        .row{
            .col-3{
                h5{
                    font-size: 14px;
                    font-weight: 600;
                    color: #838383;
                }
                .box1{
                    width: 270px;
                    height: 100px;
                    border: 1px solid #838383;
                    border-radius: 0 25px;
                    textarea{
                        width: 240px;
                        height: 95px;
                        margin-left: 14px;
                        font-size: 14px;
                        font-weight: 400;
                        color: #838383;
                        border: 0;
                        background:none;
                        outline: none;
                        
                    }
                }
                .box2{
                    margin-top: 30px;
                    width: 270px;
                    height: 228px;
                    border: 1px solid #838383;
                    border-radius: 0 25px;
                    text-align: center;
                    padding: 31px 0 8px 0;
                    h3{
                        font-size: 26px;
                        font-weight: 600;
                        color: #838383;
                    }
                    h6{
                        font-size: 18px;
                        font-weight: 600;
                        color: #0A90FB;
                        span{
                            color: #6E3FCE;
                        }
                    }
                    p{
                        margin: 15px 15px;
                        width: 238px;
                        font-size: 14px;
                        font-weight: 400;
                        color: #838383;
                    }
                    button{
                        width: 208px;
                        height: 38px;
                        background-image: linear-gradient( #0A90FB , #6E3FCE);
                        border: 0 solid #838383;
                        border-radius: 0 15px;
                        color: #E2F3FF;
                        font-size: 14px;
                        font-weight: 600;
                    }
                }
            }
        }
    }
}

// Wishlist

.wishlist{
    background-color: #000000;
    .container{
        .Backbtn{
            padding-top: 70px;
            a{
                .back{
                    i{
                        font-size: 28px;
        
                    }
                    span{
                        font-size: 14px;
                        padding-left: 10px;  
                    }
                } 
            }
        
                    h1{
                        padding-top: 28px;
                        color: #0A90FB;
                        font-size: 41px;
                        font-weight: 600;
                    }
                    p{
                        color: #E2F3FF;
                        width: 488px;
                        height: auto;
                        font-size: 14px;
                        font-weight: 400;
                        padding-bottom: 70px;
                    }
                } 
        
    }
}
.list{
    .container{
        h1{
            text-align: center;
            font-size: 41px;
            font-weight: 600;
            color: #000000;
        }
        
        .table{
            th{
                font-size: 14px;
                font-weight: 600;
                color: #48485B;
                background-color: #838383;
            }
        }
    }
}
